body {
  background: url(img/background.jpeg) no-repeat center center fixed;
  background-size: cover;
}

.instructions {
  font-family: Phosphate;
  font-size: 45px;
  text-align: center;
  margin-top: 60px;
  line-height: 100px;
  color: #900C3F;
}
/* Inconsolata, Futura : alternate font
 */

.gameOver {
  font-family: Phosphate;
  font-size: 80px;
  text-align: center;
  margin-top: 80px;
  padding-top: 0;
  color: #900C3F;
}

.timer{
  font-family: Phosphate;
  font-size: 45px;
  text-align: right;
  margin-right: 60px;
  margin-top: 60px;
  margin-bottom: 0;
  padding-bottom: 0;
  color: #900C3F;
}

.topTime{
  font-family: Phosphate;
  font-size: 45px;
  text-align: center;
  margin-top: 30px;
  color: #900C3F;
}

.hero {
  position: absolute;
  background-image: url(img/ItzelSprite.png);
  background-position: -1005px -535px;
  width: 219px;
  height: 410px;
  bottom: 0%;
  left: 45%;
}

.attack {
  background-image: url(img/ItzelSprite.png);
  background-position: -1283px -477px;
  width: 469px;
  height: 460px;
}

.left {
  background-image: url(img/ItzelSprite.png);
  background-position: -258px -531px;
  width: 226px;
  height: 410px;
}

.attackleft {
  background-image: url(img/ItzelSprite.png);
  background-position: -536px -570px;
  width: 360px;
  height: 365px;
}

.run {
  position: absolute;
  background-image: url(img/ItzelRun.png);
  background-position: -1079px -609px;
  width: 329px;
  height: 313px;
}

.runLeft {
  background-image: url(img/ItzelRun.png);
  background-position: -510px -609px;
  width: 329px;
  height: 313px;
}

.defeat {
  position: absolute;
  background-image: url(img/ItzelDeath.png);
  background-position: -821px -549px;
  width: 308px;
  height: 393px;
  animation: bounce 2s infinite;
 -webkit-animation: bounce 2s infinite;
}


@-webkit-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
 40% {-webkit-transform: translateY(-30px);}
 60% {-webkit-transform: translateY(-15px);}
}


.mud {
  position: absolute;
  background-image: url(img/Mudman.png);
  background-position: -1036px -608px;
  width: 304px;
  height: 344px;
  bottom: 0%;
  left: 100%;
}

.mudDeath {
  background-image: url(img/Mudman.png);
  background-position: -1477px -532px;
  width: 305px;
  height: 423px;
}

.mudLeft {
  position: absolute;
  background-image: url(img/MudmanLeft.png);
  background-position: 835px -841px;
  width: 320px;
  height: 344px;
  bottom: 0%;
  right: 100%;
}

.mudDeathLeft {
    position: absolute;
  background-image: url(img/MudmanLeft.png);
  background-position: 385px -800px;
  width: 305px;
  height: 387px;
  /* bottom: 0%; */
}



