body {
  background: url(img/background.jpeg) no-repeat center center fixed;
  background-size: cover;
}

.instructions {
  font-family: Phosphate;
  font-size: 45px;
  text-align: center;
  margin-top: 60px;
  line-height: 100px;
  color: #900C3F;
  padding-right: 2px;
}
/* Inconsolata, Futura : alternate font
 */
.hero {
  position: absolute;
  background-image: url(img/ItzelSprite.png);
  background-position: -1005px -535px;
  width: 219px;
  height: 410px;
  bottom: 0%;
  left: 35%;
}

.attack {
  background-position: -1283px -477px;
  width: 469px;
  height: 460px;
}

.left {
  background-position: -258px -531px;
  width: 226px;
  height: 410px;
}

.attackleft {
  background-position: -536px -570px;
  width: 360px;
  height: 365px;
}

.run {
  position: absolute;
  background-image: url(img/ItzelRun.png);
  background-position: -1005px -535px;
  width: 219px;
  height: 410px;
  bottom: 0%;
}

.runLeft {
  background-position: -536px -570px;
  width: 360px;
  height: 365px;
}

.defeat {
  background-position: center;
/*   background-image: ////;
 */}



.mud {
  position: absolute;
  background-image: url(img/Mudman.png);
  background-position: -1036px -608px;
  width: 304px;
  height: 344px;
  bottom: 0%;
  left: 100%;
}

.mudDeath {
  background-position: -1477px -532px;
  width: 305px;
  height: 423px;
}



